.video__iframes {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 50px;
  display: flex;
  justify-content: center;
}

.video__iframes>li {
  margin-right: 20px;
}

.video__iframes>li:last-child {
  margin-right: 0;
}
